DEBUG=True
ASSETS_DEBUG=False
DSN=
USER=newbie
DB=selfishdev
REDI='redis://localhost:6379/0'
SEND_FILE_MAX_AGE=3600
SECRET_KEY='secret key'
SESSION_LIFETIME=2592000
SITE_NAME=Selfish
SITE_DESCRIPTION='Selfish is a demo web application.'
REQUEST_INTERVAL=0.15
TOKEN_LENGTH=0.15
MAIL_SERVER=smtp.mail.ru
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=noreply@codej.ru
MAIL_PASSWORD=############
SUBJECT_PREFIX='[Selfish ] '
SENDER='robot <noreply@codej.ru>'
ALBUMS_PER_PAGE=3
