{% extends "base.html" %}

{% block metas %}
  {{ super() }}
  <meta name="description"
        content="{{ request.app.config.get('SITE_DESCRIPTION') }}">
{% endblock metas %}

{% block title %}Сначала{% endblock title -%}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/main/index.css',
            'css/base.css',
            'css/mc780.css',
            'css/empty-message.css',
            'css/today-field.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block templates %}
  {{ super() }}
  <!-- here we are -->
{% endblock templates %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/main/index.js',
            'js/check-mc.js',
            'js/render-tf.js',
            'js/show-index.js',
            'js/main/index.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
