{% extends "base.html" %}

{% block title %}Профиль {{ username }}{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/main/profile.css',
            'css/base.css',
            'css/next-block.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/today-field.css',
            'css/content-block.css',
            'css/avatar.css',
            'css/main/profile.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block templates %}
  {{ super() }}
  <script id="profilet" type="text/template">
    <div id="profile">
      <div class="content-block">
        <div class="block-header">
          <h3 class="panel-title">Профиль <% user.username %></h3>
        </div>
      </div>
      <div class="content-block next-block">
        <div class="user-avatar avatar"
             style="background:url(<% user.ava %>)"></div>
        <div class="user-info">
          <h3><% user.username %></h3>
          <div class="personal-details">
            <table class="user-info-table">
              <tbody>
              <tr>
                <td>Группа:&nbsp;</td>
                <td><% user.group %></td>
              </tr>
              <% #address %>
              <tr class="address-row">
                <td>Почта:&nbsp;</td>
                <td><% user.address %></td>
              </tr>
              <% /address %>
              <tr>
                <td>Зарегистрирован:&nbsp;</td>
                <td class="date-field"><% user.registered %></td>
              </tr>
              <tr>
                <td>Последний визит:&nbsp;</td>
                <td class="last-seen"><% user.last_visit %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="footer-bottom"></div>
      </div>
    </div>
  </script>
{% endblock templates %}

{% block scripts %}
  {{ super() }}
  <script>let username="{{ username }}";</script>
  {% assets filters='rjsmin', output='generic/js/main/profile.js',
            'js/show-profile.js',
            'js/check-mc.js',
            'js/close-topflashed.js',
            'js/check-browser.js',
            'js/slide-page.js',
            'js/format-datetime.js',
            'js/render-lastseen.js',
            'js/main/profile.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
