{% extends "base.html" %}

{% block title %}Профиль {{ username }}{% endblock title %}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/main/profile.css',
            'css/base.css',
            'css/next-block.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/today-field.css',
            'css/content-block.css',
            'css/avatar.css',
            'css/avatar-block.css',
            'css/labeled-form.css',
            'css/permissions.css',
            'css/slidable.css',
            'css/main/profile.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block templates %}
  {{ super() }}
  <script id="profilet" type="text/template">
    <div id="profile">
      <div class="content-block">
        <div class="block-header">
          <h3 class="panel-title">Профиль <% user.username %></h3>
        </div>
      </div>
      <div class="content-block next-block">
        <div class="user-avatar avatar"
             style="background:url(<% user.ava %>)"></div>
        <div class="user-info">
          <h3><% user.username %></h3>
          <div class="personal-details">
            <table class="user-info-table">
              <tbody>
              <tr>
                <td>Группа:&nbsp;</td>
                <td><% user.group %></td>
              </tr>
              <% #address %>
              <tr class="address-row">
                <td>Почта:&nbsp;</td>
                <td><% user.address %></td>
              </tr>
              <% /address %>
              <tr>
                <td>Зарегистрирован:&nbsp;</td>
                <td class="date-field"><% user.registered %></td>
              </tr>
              <tr>
                <td>Последний визит:&nbsp;</td>
                <td class="last-seen"><% user.last_visit %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="footer-bottom"></div>
      </div>
      <% #description %>
        <div class="content-block description-block next-block text-center">
          <% #user.description %>
            <p class="blog-description"><% user.description %></p>
          <% /user.description %>
          <% #owner %>
            <% ^user.description %>
              <div class="alert alert-warning alert-block">
                Добавьте описание своего блога.
              </div>
            <% /user.description %>
            <div class="description-options next-block">
              <button type="button"
                      title="добавьте или измените описание блога"
                      class="btn btn-info"
                      id="fix-description">
                Изменить описание блога.
              </button>
            </div>
          <% /owner %>
        </div>
        <% #owner %>
          <div id="description-e"
               class="content-block editor-block next-block to-be-hidden">
            <div class="length-marker">
              Осталось: <span
              id="length-marker">500</span>
            </div>
            <div class="form-form">
              <div class="form-group">
                <textarea id="description-editor"
                          placeholder="введите текст описания"
                          class="form-control"
                          rows="6"><% user.description %></textarea>
              </div>
              <div class="form-group submit-group">
                <button id="description-submit"
                        class="btn btn-info"
                        type="button">
                  Сохранить
                </button>
                <button type="button"
                        id="cancel-description"
                        class="btn btn-default">
                  Отменить
                </button>
              </div>
            </div>
          </div>
        <% /owner %>
      <% /description %>
      <% #user.description %>
        <% #user.last_published %>
          <div class="content-block blog-link-block next-block text-center">
            <a href="/arts/a/<% user.username %>">
              <% user.username %>&nbsp;блог
            </a>
          </div>
        <% /user.last_published %>
      <% /user.description %>
      <% #owner %>
        <div class="content-block next-block">
          <div class="block-header slidable">
            <h3 class="panel-title">Действия</h3>
          </div>
          <div class="block-body text-center">
            <button id="emchange"
                    type="button"
                    class="btn btn-info">
              Сменить адрес
            </button>
            <button id="changepwd"
                    type="button"
                    class="btn btn-info">
              Сменить пароль
            </button>
            <button id="changeava"
                    type="button"
                    class="btn btn-info">
              Сменить аватар
            </button>
          </div>
        </div>
      <% /owner %>
      <% #ch-perms %>
        <div id="permissions-block"
             class="content-block next-block">
          <div class="block-header slidable">
            <h3 class="panel-title">Разрешения <% user.username %></h3>
          </div>
          <div class="block-body">
            <div class="form-form">
              <%{ html }%>
              <div class="form-group">
                <input class="btn btn-primary btn-block"
                       id="perms-submit"
                       name="perms-submit"
                       type="submit"
                       value="Утвердить">
              </div>
            </div>
          </div>
        </div>
      <% /ch-perms %>
    </div>
  </script>
  <script id="changeavat" type="text/template">
    <div id="changeavaf">
      <div class="content-block avatar-block">
        <div class="block-header">
          <h3 class="panel-title">Ваш аватар</h3>
        </div>
        <div class="block-body">
          <div class="avatar"
               style="background:url(/ava/<% cu %>/160)"></div>
        </div>
      </div>
      <div class="content-block form-block next-block">
        <div id="upload-form">
          <div class="today-field"></div>
          <div class="form-help">
            <p>
              Выберите файл изображения, процесс выгрузки начнётся
              автоматически. Поддерживаются файлы JPEG, PNG и GIF форматов.
              Максимальный размер файла ограничен - 200КиБ. Размер изображения
              не должен превышать 200х200 пикселей. После выгрузки файл будет
              верифицирован, а изображение установлено на Ваш аватар. Менять
              изображение можно любое количество раз.
            </p>
          </div>
          <div class="form-form">
            <form id="ava-form" class="form" method="POST"
                  role="form" novalidate
                  enctype="multipart/form-data">
              <div class="form-group">
                <input accept="image/jpeg,image/png,image/gif"
                       id="image"
                       name="image"
                       type="file">
              </div>
              <div class="form-group hidden">
                <input class="btn btn-default"
                       id="image-submit"
                       name="image-submit"
                       type="submit"
                       value="Выгрузить">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script id="changepwdt" type="text/template">
    <div id="changepwdf" class="form-block content-block to-be-hidden">
      <h3>Смена пароля</h3>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый <% cu %>, для смены Вашего текущего пароля заполните форму
          ниже. Введите в соответствующие поля Ваш текущий пароль, придумайте
          и введите новый пароль, повторите ввод нового пароля, затем нажмите
          кнопку "Сменить пароль", и Ваш текущий пароль будет заменён на новый.
          В случае, если Вы забыли свой текущий пароль, пароль можно
          восстановить в соответствующем разделе сервиса, для этого нужно
          выйти из сервиса и проследовать по ссылке в главном меню
          "Действия"->"Получить пароль".
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="currentpwd">Текущий пароль:</label>
            </div>
            <div class="form-input">
              <input id="curpwd"
                     name="curpwd"
                     class="form-control"
                     placeholder="введите свой текущий пароль"
                     autocomplete="currentpwd"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="newpwd">Новый пароль:</label>
            </div>
            <div class="form-input">
              <input id="newpwd"
                     name="newpwd"
                     class="form-control"
                     placeholder="введите новый пароль"
                     autocomplete="newpwd"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="newpwdconfirm">Повторить:</label>
            </div>
            <div class="form-input">
              <input id="newpwdconfirm"
                     name="newpwdconfirm"
                     class="form-control"
                     placeholder="повторите новый пароль"
                     autocomplete="newpwdconfirm"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="changepwd-submit">
                Поменять пароль
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
  <script id="changeemt" type="text/template">
    <div id="changeemf" class="form-block content-block to-be-hidden">
      <h3>Отправьте запрос на смену адреса</h3>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый <% cu %>, для смены адреса электронной почты
          Вашего аккаунта необходимо заполнить форму ниже. Введите в
          соответствующие поля Ваш новый адрес электронной почты и пароль,
          нажмите кнопку "Отправить запрос". На Ваш новый адрес будет выслана
          инструкция о дальнейших действиях, следуйте ей. Имейте ввиду,
          что смену адреса и сброс пароля Вы можете запросить один раз
          в {{ interval }} часов и не ранее чем через {{ interval }} часов
          с момента регистрации.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="chaddres">Адрес эл.почты:</label>
            </div>
            <div class="form-input">
              <input id="chaddress"
                     name="chaddress"
                     class="form-control"
                     placeholder="введите свой адрес электронной почты"
                     autocomplete="username"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="chapasswd">Пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="chapasswd"
                     name="chapasswd"
                     placeholder="введите свой пароль"
                     autocomplete="current-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="chaddress-submit">
                Отправить запрос
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
{% endblock templates %}

{% block scripts %}
  {{ super() }}
  <script>let username="{{ username }}";</script>
  {% assets filters='rjsmin', output='generic/js/main/profile.js',
            'js/show-profile.js',
            'js/check-mc.js',
            'js/close-topflashed.js',
            'js/check-browser.js',
            'js/slide-page.js',
            'js/format-datetime.js',
            'js/render-lastseen.js',
            'js/request-avachange.js',
            'js/render-tf.js',
            'js/change-ava.js',
            'js/show-error.js',
            'js/change-pwd.js',
            'js/create-newpwd.js',
            'js/request-em-form.js',
            'js/request-em-change.js',
            'js/checkbox.js',
            'js/check-average.js',
            'js/main/profile.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
